$nav-height: 60px;

$white: #ffffff;
$primary-brand: #FF3B3F;
$secondary-brand: #CAEBF2;
$neutral: #EFEFEF;

$muted-primary: rgba($primary-brand, 0.6);

$main: #409EFF;
$success: #67C23A;
$warning: #E6A23C;
$danger: #F56C6C;
$info: #909399;

$primary-text: #303133;
$regular-text: #606266;
$secondary-text: #909399;
$placeholder-text: #C0C4CC;

$base-border: #DCDFE6;
$light-border: #E4E7ED;
$lighter-border: #EBEEF5;
$extra-light-border: #F2F6FC;

$normal-space: 1em;
$small-space: 8px;
$box-corner-radius: 4px;

@mixin drop-shadow {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}

$--color-primary: $primary-brand;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";