@import "./variables";

html, body {
  margin: 0;
  padding: 0;
}

body, text {
  font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $regular-text;
}

h1, h2, h3, h4, h5, h6 {
  color: $primary-text;
}

h1, h2 {
  margin-top: 1em;
  margin-bottom: 0.8em;
}

.brand {
  color: $primary-brand;
}

.secondary-brand {
  color: $secondary-brand;
}

.secondary {
  color: $secondary-text;
}

.low-emphasis {
  color: $placeholder-text;
}

.content-section {
  max-width: $content-width;
  margin: 1em auto;
}

.space {
  margin-bottom: $normal-space;
}

.el-select {
  .el-input.is-focus .el-input__inner, .el-input__inner:focus {
    border-color: $secondary-brand !important;
  }
}

.el-input {
  input:focus {
    border-color: $secondary-brand !important;
  }
}

.el-col {
  padding: 0 $col-gutter;
  &:first-child {padding-left: 0;}
  &:last-child {padding-right: 0;}

  .el-select, .el-input {
    //width: 100%;
  }
}

.el-tooltip__popper.is-dark a {
  color: $white;
}

@media only screen and (max-width: 990px) {
  .el-notification {
    width: 100% !important;
    right: 0 !important;
  }

  .el-col {
    padding: 0;
  }
}